*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: #222;
    font-family: "Source Sans Pro", sans-serif;
}

/* ACTUAL STYLES ========= */

/* grid setting */
body {
    display: flex;
    flex-direction: column;
}

body > * {
    width: 100%;
}

html,
body,
#sigma-container {
    margin: 0;
    height: 100%;

    overflow: hidden;
}

.wrapper {
    flex-grow: 1;
    padding: 1em;
}

#status-bar {
    grid-row: 2;
    display: flex;
    gap: 1.5em;
    align-items: center;

    width: 100vw;
    min-height: 1em;
    padding: .5em;

    overflow-x: scroll;

    background-color: #333;
    color: white;

    font-size: 1.3rem;
}

#status-bar #mode {
    flex-grow: 0;
    flex-shrink: 0;
    width: max-content;
}

.mode-specific-status, .general-status {
    display: flex;
    gap: .3em;
}

#status-bar button {
    padding: .3em;
    border: 0;
    border-radius: 0;
    background-color: #444;
    color: inherit;
    font: inherit;
    font-size: .7em;
}

#status-bar button:focus-visible {
    outline: 1px solid;
}

#status-bar button:hover {
    translate: 0 -.2em;
    cursor: pointer;
}

body.simulation .mode-specific-status :not(.in-simulation) {
    display: none;
}

body.edition .mode-specific-status :not(.in-edition) {
    display: none;
}